{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}
<title>Crowd Funding</title>
<style>
    h1 {
        color: rgb(192, 192, 227);
    }
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-bottom: 40px;
    }
    .container {
        text-align: center; 
    }
    .project {
        padding: 10px 20px; 
        display: inline-block;
        cursor: pointer;
        background-color: rgb(192, 192, 227);
        text-decoration: none; 
        color: #fff; 
    }
</style>
</head>
<body>
    {% csrf_token %}
    <div class="container">
        <div class="slick-slider">
            <h1 style="color:rgb(186, 163, 133)">Latest projects</h1>
            {% for project_data in latest_projects_with_pictures %}
                <div>
                    <h3 style="color:rgb(186, 186, 149)">Title: {{ project_data.project.title }}</h3>
                    <p><b>Description:</b> {{ project_data.project.description }}</p>
                    <p><b>Created at:</b> {{ project_data.project.created_at }} </p>
                    {% for picture in project_data.pictures %}
                        <img src="{{ picture.picture.url }}" alt="Project Image">
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        
        <div class="row justify-content-center">
            <a class="project" href = "{% url 'create project' user.id %}">Add a project</a>
        </div>
    </div>
</body>
{% endblock %}
